body {
    background: url("../images/paper.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
} 
.text{
    background-color: rgba(248, 248, 249, 0.76);
    padding: 10px, 0;
    width: fit-content;
}