.content {
    margin: 0 auto;
    padding: 2em;
}

.text{
    background-color: rgba(248, 248, 249, 0.76);
    padding: 10px, 0;
    width: fit-content;
    font-size: 1.3em;
}

.text::first-letter {
    font-size: 1.8em;
    font-family: 'Edwardian Script ITC', serif;
    font-weight: 550;
    padding-right: .2em;
}

#quote {
    width: 30%;
    font-size: 2em;
    border-left: 2px solid grey;
    margin: 50px auto;
    padding-left: 10px;
}

header {
    width: 100%;
    height: 600px;
    margin: 0;
    overflow: hidden;
}

.hero-image {

    --position: bottom left;
    width:100%;
    height: 100%;
    background: 
    rgb(83, 83, 83)
    url(../images/vitae-bottle.jpg)
    var(--position) / cover
    no-repeat;

    animation-name: zoom-in;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}


/*zoom in animation*/
@keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* change image position if screen is smaller */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .hero-image {
        --position: 20% 30%;
    }
}

footer > p, h1 {
    font-weight: 200px;
    font-family: 'Edwardian Script ITC' 'Modern No. 20' Bahnschrift;  
}

svg {
    width: 50px;
    height: 50px;

}

/* we cannot set height of the #container if we don't set height of html & body */
html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

/* we cannot detect the height of the browser if we don't have container set */
#container {
    min-height: 100%;
}

/* to get a scroll-bar once we get more content in. */
#main {
    overflow: auto; 
    padding-bottom: 100px;
}

    footer {
        background-color: rgba(25, 23, 23, 0.44);
        color: white;
        height: 120px;
        display:flex;
        align-items: center;
        font-family:fantasy;
    }
    footer > div {
        height: fit-content;
    }
    .inline a{
        text-decoration: none;
    }
    .inline ul {
        list-style: none;
    }
    .inline li {
        display: inline-flex;
        text-align: right;
    }
    .footainer {
        display: flex;
        height: fit-content;
        width: 100%;
        align-content: center;
        justify-items: center;
    }
    .maker-list {
        display: inline-flex;
        text-align: right;
    }
    .makers-name {
        margin: auto .5rem;
        text-align: right;
    }
    .maker {
        display: inline-flex;
        margin: auto 1rem;
        text-align: right;
    }
    svg {
        width: 50px;
        border: 2px solid rgb(53, 50, 50);
        border-radius: 25px;
        background-color: white;
    }

    h1 {
        -webkit-text-stroke: 1px rgb(45, 43, 43);
    
        font-family: fantasy; color: whitesmoke;
    }

    li p {
        -webkit-text-stroke: 0.5px rgb(48, 45, 45);
    
        font-family: fantasy; color: whitesmoke;
    }

    form {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

